.footer {
    background-color: #082F7B; /* Navy blue background */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .footer-left .footer-text,
  .footer-right p {
    margin-left: 10px;
    text-align: left;
  }
  

  .footer-center {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: -3rem;
    /* flex: 1; */
  }
  
  .footer-logo {
    height: 60px;
    width: auto;
  }

  .footer-right img,
  .footer-left img{
    background-color: transparent;
  }
  
  .footer-left p, .footer-right p {
    font-size: 8px;
  }
  
  .footer-center p {
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .footer-left, .footer-right {
      margin-bottom: 10px;
    }
  
    .footer-center {
      margin-bottom: 10px;
    }
  }
